
// VARIABLES

$light-blue : #4f9da6;
$dark-blue : #233142;
$yellow : #f6d970;
$light-grey : #f8f8f8;

@mixin center {
    display: block;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}



@media screen and (max-width: 1410px) { // header gets replaced by menu icon
    header {
        flex-direction: column;
        height: max-content;
        overflow: hidden;
        padding: 1rem 1.5rem 0;

        .logo {
            align-self: flex-start;
        }

        #menu-icon + label {
            display: block;
            position: fixed;
            right: 2rem;
            top: 35px;
            transform: translateY(-50%);
            font-size: 24px;
            cursor: pointer;
            transition: 0.2s;
        }

        ul {
            flex-direction: column;
            position: relative;
            opacity: 0;
            height: 0;
            margin-top: -15px;
            //top: 15px;
            transition: 0.35s;
            padding: 0;
            margin-left: auto;
            pointer-events: none;

            li {
                margin-bottom: 10px;
                margin-right: 15px;
                white-space: normal;
                text-align: right;

                a {
                    margin-left: auto;

                    &::after {
                        display: none; //getting rid of bold placeholders
                    }
                }
            }

            button {
                margin-left: auto;
            }
        }

        #menu-icon:checked ~ ul {
            pointer-events: initial;
            margin-top: 0;
            opacity: 1;
            height: 140px;//with buttons: 240px;
        }
        #menu-icon:checked ~ #progress-indicator {
            opacity: 0;
        }

        .login-btn {
            margin-right: 15px;
        }
    }

    .home {
        .section-img {
            margin: 0 auto 4rem !important;
        }
    }
}


@media screen and (max-width: 1305px) {
    header {
        .logo {
            .logo-text {
                font-size: 28px;
            }
        }
        ul {
            li {
                margin: 0 17px;
            }
        }
    }
}


@media screen and (max-width: 991px) {
    .container, .container-fluid {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .section-img {
        &:nth-of-type(odd) {
            margin: 0 auto 4rem auto; //centered
        }

        &:nth-of-type(even) {
            margin: 0 auto 4rem auto;
        }
    }

    .home {
        section {
            height: max-content;
        }

        .arrow {
            margin-top: 3%;
        }
    }

    .fixed-nav {
        //display: none;
        position: relative;
        width: 100%;
        margin: 0;
        top: auto;
        left: auto;
        right: auto;

        &.one {
            margin: 0 15px 30px;
            top: unset;
        }
    }

    #navbar {
        display: none;
    }

    .mobile {
        display: block !important;
    }

    .offset-sm-2 {
        padding: 0 1.5rem;
    }
}



@media screen and (max-width: 767px) {
    /* start of medium tablet styles */
    header {
        .logo {
            height: 50px;

            .logo-img {
                width: 60px;
                margin-left: -10px;
            }

            .logo-text {
                font-size: 26px;
                margin: 0;
            }
        }

        .block .stemchats {
            margin-top: 9px;
        }
    }

    //scroll indicator
    #progress-indicator {
        margin-top: 59px;

        &.scrolled {
            margin-top: 1px;
        }
    }

    iframe {
        width: 100%;
    }

    #curator {
      padding: 40px 1.5rem;
    }
}


@media screen and (max-width: 576px) {
    /* start of phone styles */
    header {
        .logo {
            margin-left: -20px;
            .logo-img {
                margin-bottom: -25px;
            }
            .logo-text {
                margin-bottom: 25px;
            }
        }

        .block .stemchats {
            position: absolute;
            margin-left: 35px;
            bottom: 5px;
        }
    }

    #curator {
      padding: 20px 1.5rem;
    }
}
