// Josefin Sans
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
// Open Sans
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');


// VARIABLES

$light-blue : #4f9da6;
$dark-blue : #233142;
$yellow : #f6d970;
$light-grey : #f8f8f8;


@mixin center {
    display: block;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.text-center {
    width: 100%;
    background-color: #233142;
    border: none;
    border-radius: 0;
}

.center {
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.small-box-title {
    //h3
    margin-top: 3rem;
    font-size: 28px;
}

.medium-box-title {
    //h2
    margin-top: 3rem;
    font-size: 32px;
}

.large-box-title {
    //h1
    margin-top: 3rem;
    font-size: 40px;
}


.quotes-container {
    height: 600px; //must encompass entire height of quotes
    margin: 30px 0;

    .row {
        width: 80%;
        margin: 0;
    }
}

.quote-row {
    display: flex;
    opacity: 0;
    animation-name: fade;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    .quote {
        @include center();
        margin-bottom: 2rem;

        blockquote::before,
        blockquote::after {
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            position: absolute;
            opacity: 0.25;
            font-size: 36px;
            color: $light-blue;
        }

        blockquote::before {
            content: '\f10d';
            margin-top: -20px;
            margin-left: -30px;
        }

        blockquote::after {
            content: '\f10e';
            margin-top: -10px;
            margin-left: -5px;
        }
    }

    &[data-id="1"] {
        animation-delay: 0s;
    }

    &[data-id="2"] {
        animation-delay: 5s;
    }

    &[data-id="3"] {
        animation-delay: 10s;
    }
}




* {
    font-family: 'Josefin Sans', sans-serif;
    //font-family: 'Open Sans', sans-serif;

    a {
        text-decoration: none;
        color: $light-blue;

        &:hover {
            text-decoration: none;
            color: $yellow;
        }
    }
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-y: scroll;
    overflow-x: hidden;
}

.container {
    margin-top: 2rem;
    margin-bottom: 2rem;
    min-height: calc(100vh - 370px); //footer @ bottom even on short pages
}


// PAGE HIGHLIGHT
.home #home-nav,
.about #about-nav,
.program #program-nav,
.toolbox #toolbox-nav,
.campaigns #campaigns-nav,
.contact #contact-nav {
    color: white; //light blue or white
    //border-bottom: 2px solid $yellow; //either yellow or light blue; can't choose
    //whichever is chosen, the text hover color will be opposite?
    font-weight: bold;

    &:hover {
        color: $light-blue;
    }
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem 0;
    height: 70px;
    white-space: nowrap;
    z-index: 5;
    background-color: $dark-blue; //either dark blue, light grey, or white; can't choose
    //background-color: #f1f1f1;

    a {
        color: white;
    }

    .logo {
        z-index: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: -0.5rem;

        &::before,
        &::after {
            //still dk what to do w this animation lmao -myco
            position: absolute;
            background: $yellow;
            transform: translateY(-4px);
            z-index: -1;
            transition: 0.6s;
            content: '';
        }

        &::before {
            width: 0;
            height: 57px;
        }

        &::after {
            width: 250px;
            height: 0;
        }

        .logo-text {
            border: 0;
            transition: 0.3s;
            background: $dark-blue;
            padding: 10px 5px 5px;
            font-weight: bold;
        }

        a:hover {
            color: white; //cancel out bootstrap
        }

        &:hover {
            &::before {
                width: 0; //240px; //250px
            }

            &::after {
                height: 0; //27px; //57px
            }
        }
    }

    ul {
        display: flex;
        list-style: none;

        li {
            margin: 0 25px;

            a {
                &::after {
                    //so that the bold highlighting wont shift width
                    display: block;
                    content: attr(title);
                    font-weight: bold;
                    height: 1px;
                    color: transparent;
                    overflow: hidden;
                    visibility: hidden;
                }

                &:hover {
                    color: $light-blue;
                }
            }
        }
    }

    //for my wireframing, I have no idea if this is gonna work.
    .scrollspy-example {
        position: relative;
    }


}


#hometop {
    padding-bottom: 50px;
    background-color: $light-grey;
    width: 100%;

    // rgba(196, 196, 196, 0.49)
    img {
        padding-right: 7%;
        height: 450px;
        object-fit: contain;
    }

    .card-text {
        padding-right: 10%;
    }

    // .card-title{
    //     padding-left: 10%; 
    // }
    $base: 0.6rem;

    .arrow {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 30%;
    }

    .chevron {
        position: absolute;
        width: $base * 3.5;
        height: $base * 0.8;
        opacity: 0;
        transform: scale(0.3);
        animation: move-chevron 3s ease-out infinite;
    }

    .chevron:first-child {
        animation: move-chevron 3s ease-out 1s infinite;
    }

    .chevron:nth-child(2) {
        animation: move-chevron 3s ease-out 2s infinite;
    }

    .chevron:before,
    .chevron:after {
        content: '';
        position: absolute;
        top: 0;
        height: 100%;
        width: 50%;
        background: $dark-blue;
    }

    .chevron:before {
        left: 0;
        transform: skewY(30deg);
    }

    .chevron:after {
        right: 0;
        width: 50%;
        transform: skewY(-30deg);
    }

    @keyframes move-chevron {
        25% {
            opacity: 1;
        }

        33.3% {
            opacity: 1;
            transform: translateY($base * 3.8);
        }

        66.6% {
            opacity: 1;
            transform: translateY($base * 5.2);
        }

        100% {
            opacity: 0;
            transform: translateY($base * 8) scale(0.5);
        }
    }
}

// .card-deck{
//     margin: 0 1.5rem;
//     padding: 50px 10px 20px;

//     .card{
//         background-color: $light-grey;

//         img {
//             padding: 2rem;
//             height: 200px;
//             object-fit: contain;
//         }
//     }
//     .card-title{
//         font-weight: bold;
//         color: black;
//     }
//     .card-text {
//         color: black;
//     }
//     .card-body{
//         padding: 1.5rem 1.5rem 2rem;
//     }
// }



// TOOLBOX STYLES

.toolbox {
    nav {
        width: 100%;

        .nav-link {
            color: black;

            &:hover {
                color: $light-blue;
            }

            &.active {
                background-color: $light-blue;
            }
        }
    }

    .col-8 {
        padding-left: 2rem;
    }
}




footer {
    padding-bottom: 4rem;
    padding-top: 2rem;
    margin-top: 4rem;
    background-color: #233142;
    overflow-x: hidden;

    .row {
        margin: 0;
    }

    .shift-y {
        margin-bottom: -30px;
    }

    .socialmedia-links {
        padding-top: 40px;
    }

    .social-icons {
        margin: 20px auto 40px;
        font-size: 24px;
        width: max-content;
    }

    .social-icons {
        &:hover i {
            opacity: 0.5;
        }

        i {
            margin: 0 10px;
            color: white;
            transition: 0.2s;

            &:hover {
                transform: translateY(-20%);
                opacity: 1;
            }
        }
    }

    .copy {
        font-size: 0.5px;
        padding-bottom: 0px;
        z-index: 1;
    }
}



// ANIMATIONS

@keyframes fade {
    0% {
        opacity: 0;
    }

    11.11% {
        opacity: 1;
    }

    33.33% {
        opacity: 1;
    }

    44.44% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}