@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
.text-center {
  width: 100%;
  background-color: #233142;
  border: none;
  border-radius: 0;
}

.center {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.hashtag::before {
  display: block;
  content: " ";
  margin-top: -90px;
  height: 90px;
  visibility: hidden;
  pointer-events: none;
}

.small-box-title {
  margin-top: 3rem;
  font-size: 28px;
  font-weight: bold;
  text-transform: capitalize;
}

.small-box-sub {
  font-size: 18px;
}

.medium-box-title {
  margin-top: 3rem;
  font-size: 32px;
  text-transform: capitalize;
}

.medium-box-sub {
  font-size: 24px;
}

.large-box-title {
  margin-top: 3rem;
  font-size: 40px;
  text-transform: capitalize;
}

.large-box-sub {
  font-size: 36px;
}

.quotes-container {
  height: 600px;
  margin: 3rem 0;
}

.quotes-container .row {
  width: 100%;
  margin: 0;
}

.quote-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.quote-row .quote {
  display: block;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 2rem;
}

.quote-row .quote blockquote::before,
.quote-row .quote blockquote::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  opacity: 0.25;
  font-size: 36px;
  color: #4f9da6;
}

.quote-row .quote blockquote::before {
  content: '\f10d';
  margin-top: -20px;
  margin-left: -30px;
}

.quote-row .quote blockquote::after {
  content: '\f10e';
  margin-top: -10px;
  margin-left: -5px;
}

.quote-row[data-id="1"] {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.quote-row[data-id="2"] {
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

.quote-row[data-id="3"] {
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
}

* {
  font-family: 'Josefin Sans', sans-serif;
}

* a {
  text-decoration: none;
  color: #4f9da6;
}

* a:hover {
  text-decoration: none;
  color: #f6d970;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
}

.container, .container-fluid {
  position: relative;
  margin-top: 100px;
  margin-bottom: 2rem;
}

.home #home-nav,
.about #about-nav,
.program #program-nav,
.toolbox #toolbox-nav,
.campaigns #campaigns-nav,
.contact #contact-nav {
  color: white;
  font-weight: bold;
}

.home #home-nav:hover,
.about #about-nav:hover,
.program #program-nav:hover,
.toolbox #toolbox-nav:hover,
.campaigns #campaigns-nav:hover,
.contact #contact-nav:hover {
  color: #4f9da6;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  padding: 1rem 2rem 0;
  height: 70px;
  width: 100%;
  white-space: nowrap;
  z-index: 10000;
  background-color: #233142;
}

header a {
  color: white;
}

header .logo {
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -0.5rem;
}

header .logo::before, header .logo::after {
  position: absolute;
  background: #f6d970;
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
  z-index: -1;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  content: '';
}

header .logo::before {
  width: 0;
  height: 57px;
}

header .logo::after {
  width: 250px;
  height: 0;
}

header .logo .logo-text {
  border: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: #233142;
  padding: 10px 5px 5px;
  font-weight: bold;
}

header .logo a:hover {
  color: white;
}

header .logo:hover::before {
  width: 250px;
}

header .logo:hover::after {
  height: 0;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

header ul li {
  margin: 0 25px;
}

header ul li a::after {
  display: block;
  content: attr(title);
  font-weight: bold;
  height: 1px;
  color: transparent;
  overflow: hidden;
  visibility: hidden;
}

header ul li a:hover {
  color: #4f9da6;
}

header .scrollspy-example {
  position: relative;
}

.home section {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5rem;
}

.home section img {
  max-width: 850px;
  width: 90%;
}

img {
  padding-right: 2%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  width: 45%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-animation: fadeIn ease 4s;
          animation: fadeIn ease 4s;
}

.card-body {
  position: relative;
}

.card-text {
  padding: 0.5% 10% 1% 0%;
  text-transform: none;
  margin: 0 1.5%;
  -webkit-animation: fadeIn ease 4s;
          animation: fadeIn ease 4s;
  font-size: 1.5vw;
}

.card-title {
  font-size: 3vw;
  padding-top: 10%;
  text-transform: none;
  margin: 0 1.5%;
  -webkit-animation: fadeIn ease 4s;
          animation: fadeIn ease 4s;
}

#hometop {
  background-color: #f8f8f8;
  width: 100%;
  height: 100vh;
}

#hometop .arrow {
  text-align: center;
  margin: 6% 0 2%;
}

#hometop .bounce {
  -webkit-animation: bounce 2s infinite;
          animation: bounce 2s infinite;
}

#home2 {
  width: 100%;
  margin-left: 5%;
  height: 100vh;
}

#homebottom {
  width: 100%;
  background-color: #f8f8f8;
  padding-bottom: 7%;
}

.button-home1 {
  padding: 10px;
  text-decoration: none;
  font-size: 16px;
  text-align: center;
  border-radius: 12px;
  margin-left: 1.5%;
}

.button-home {
  padding: 10px;
  text-decoration: none;
  font-size: 16px;
  text-align: center;
  border-radius: 12px;
}

.fixed-nav {
  margin-top: 100px;
  margin-bottom: 30px;
}

.fixed-nav .list-group-item {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.one {
  margin-left: 1rem;
  left: 2%;
}

.two {
  left: auto;
  right: 2%;
}

.offset-sm-2 {
  margin-right: auto;
  margin-left: auto;
}

.toolbox nav {
  width: 100%;
}

.toolbox nav .nav-link {
  color: black;
  padding-top: 0;
  padding-bottom: 0;
}

.toolbox nav .nav-link:hover {
  color: #4f9da6;
}

.toolbox nav .nav-link.active {
  background-color: #4f9da6;
}

.toolbox .card {
  margin-top: 20px;
}

.toolbox .lessons {
  height: 900px;
  overflow-y: scroll;
}

.toolbox .grid {
  margin-top: 100px;
  margin-bottom: 100px;
}

.toolbox li {
  padding-top: 2px;
  padding-bottom: 2px;
}

.toolbox .list-group {
  height: 300px;
  overflow-y: scroll;
  z-index: 5;
}

.toolbox .right-col {
  padding-left: 4rem;
}

.toolbox .fixed-col {
  position: fixed;
  top: 100px;
}

.toolbox .col-2 {
  margin: 10px;
}

footer {
  padding-bottom: 4rem;
  padding-top: 2rem;
  background-color: #233142;
  overflow-x: hidden;
}

footer .row {
  margin: 0;
}

footer .shift-y {
  margin-bottom: -30px;
}

footer .socialmedia-links {
  padding-top: 40px;
}

footer .social-icons {
  margin: 20px auto 40px;
  font-size: 24px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

footer .social-icons:hover i {
  opacity: 0.5;
}

footer .social-icons i {
  margin: 0 10px;
  color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

footer .social-icons i:hover {
  -webkit-transform: translateY(-20%);
          transform: translateY(-20%);
  opacity: 1;
}

footer .copy {
  font-size: 0.5px;
  padding-bottom: 0px;
  z-index: 1;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  11.11% {
    opacity: 1;
  }
  33.33% {
    opacity: 1;
  }
  44.44% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  11.11% {
    opacity: 1;
  }
  33.33% {
    opacity: 1;
  }
  44.44% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=styles.css.map */