@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 101.5%;
  margin: 0;
  padding: 0;
}

* a {
  text-decoration: none;
  color: #4f9da6;
}

* a:hover {
  text-decoration: none;
  color: #f6d970;
}

* p, * blockquote {
  font-family: 'Karla', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
}

.container, .container-fluid {
  position: relative;
  padding: 120px 1.5rem;
}

b {
  font-family: inherit;
  font-weight: bold;
  color: #4f9da6;
}

img {
  position: relative;
  width: 100%;
}

ul, ol {
  list-style-position: inside;
}

button {
  background-color: transparent;
  border-color: rgba(79, 157, 166, 0.5);
}

button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(79, 157, 166, 0.5);
}

button:hover {
  color: #f6d970;
}

.btn {
  padding: .45rem 1rem;
  font-size: inherit;
  border-radius: .35rem;
}

.green-btn {
  background-color: #4f9da6;
  color: white;
  border: 0;
  transition: 0.25s;
}

.green-btn:hover {
  background: #317179;
  color: white;
}

.login-btn {
  margin-right: 0;
}

.previous-next {
  padding-bottom: 10px;
}

.previous-next .previous-btn, .previous-next .next-btn {
  margin-top: 5px;
  font-size: 0.9em;
}

.card-deck {
  margin-left: -5px;
  margin-right: -5px;
}

.card-deck .card {
  margin-left: 5px;
  margin-right: 5px;
  background-color: #f8f8f8;
}

.card .card-header {
  border: 0;
  padding: 1.2rem 1.25rem .8rem;
  color: white;
}

.card .card-body {
  padding: 1.5rem 1.25rem;
}

.card a {
  color: black;
}

.card a:hover {
  color: black;
}

.card .biology .card-header, .card .biology .bio-btn {
  background-color: #00a9b7;
  color: white;
}

.card .biology .bio-btn:hover {
  background-color: #008692;
}

.card .chemistry .card-header, .card .chemistry .chem-btn {
  background-color: #a6cd57;
  color: white;
}

.card .chemistry .chem-btn:hover {
  background-color: #7ea03b;
}

.card .physics .card-header, .card .physics .phys-btn {
  background-color: #ad208e;
  color: white;
}

.card .physics .phys-btn:hover {
  background-color: #7c1365;
}

.card .astronomy .card-header, .card .astronomy .astr-btn {
  background-color: #005f86;
  color: white;
}

.card .astronomy .astr-btn:hover {
  background-color: #00445f;
}

.text-center {
  width: 100%;
  background-color: #233142;
  border: none;
  border-radius: 0;
}

.center {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.hashtag::before {
  display: block;
  content: " ";
  margin-top: -90px;
  height: 90px;
  visibility: hidden;
  pointer-events: none;
}

.small-box-title {
  margin-top: 3rem;
  font-size: 28px;
  font-weight: bold;
  text-transform: capitalize;
}

.small-box-sub {
  font-size: 18px;
}

.medium-box-title {
  margin-top: 3rem;
  font-size: 32px;
  font-weight: bold;
  text-transform: capitalize;
}

.medium-box-sub {
  font-size: 24px;
}

.large-box-title {
  font-size: 40px;
  font-weight: bold;
  text-transform: capitalize;
}

.large-box-sub {
  font-size: 36px;
}

.important {
  padding: 20px;
  border: 1px solid #f6d970;
  text-align: center;
  margin: -10px 0px 30px 0px;
  border-radius: 25px;
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
}

.important p {
  margin-bottom: 0;
  color: #233142;
}

.important a {
  font-style: normal;
  font-weight: normal;
}

.caption {
  display: block;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0.5rem;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 0.9em;
  font-style: italic;
}

.shiny-cards .card {
  border-color: rgba(248, 248, 248, 0.5);
  background-color: #cfe3e7;
  overflow: hidden;
  transition: 0.3s;
  cursor: default;
  /* &:hover {
            transform: translateY(-1px);
            box-shadow: 0 2px 10px rgba($color: black, $alpha: 0.1);
            border: 1px solid rgba($color: black, $alpha: 0.175);

            &::after {
                animation: slideRight 0.8s 0.15s 1 running;
            }
        }*/
}

.shiny-cards .card::after {
  content: "";
  position: absolute;
  left: -10%;
  width: 50px;
  height: 700px;
  opacity: 1;
  transform: translate(-200%, -30%) rotate(20deg);
  z-index: 10000;
  background: rgba(255, 255, 255, 0.5);
}

.student-breakdown {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.student-breakdown .left {
  margin-top: 20px;
  margin-bottom: 10px;
}

.student-breakdown .left .bar {
  margin-bottom: 2rem;
  width: 100%;
}

.student-breakdown .left .circles img {
  margin-bottom: 10px;
  width: 70%;
}

.student-breakdown img {
  display: block;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.mentor-quotes img {
  border-radius: 30px;
  margin-bottom: 20px;
  width: 175px;
}

.mentor-quotes .row {
  margin-top: 30px;
}

.slideshow {
  position: relative;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f8f8f8;
  margin: 3rem 0 0;
  padding: 2rem;
  border-radius: 10px;
  overflow: hidden;
}

.slideshow .slide {
  display: block;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  animation-name: slideLeft;
  animation-duration: 0.65s;
}

.slideshow .left-arrow, .slideshow .right-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 28px;
  cursor: pointer;
  background: #f6d970;
  padding: .15rem 0.93rem 0rem;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.slideshow .left-arrow:hover, .slideshow .right-arrow:hover {
  background: #dfc155;
}

.slideshow .left-arrow {
  left: 30px;
}

.slideshow .right-arrow {
  right: 30px;
}

.slideshow img {
  margin-top: 0;
  margin-bottom: 20px;
  border-radius: 50%;
  padding: 0;
  width: 200px;
}

blockquote::before,
blockquote::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  opacity: 0.25;
  font-size: 36px;
  color: #4f9da6;
}

blockquote::before {
  content: '\f10d';
  margin-top: -20px;
  margin-left: -30px;
}

blockquote::after {
  content: '\f10e';
  margin-top: -10px;
  margin-left: -5px;
}

/* .quote-row {
    display: flex;
    opacity: 0;
    animation-name: fade;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    .quote {
        @include center();
        margin-bottom: 2rem;

        blockquote::before,
        blockquote::after {
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            position: absolute;
            opacity: 0.25;
            font-size: 36px;
            color: $light-blue;
        }

        blockquote::before {
            content: '\f10d';
            margin-top: -20px;
            margin-left: -30px;
        }

        blockquote::after {
            content: '\f10e';
            margin-top: -10px;
            margin-left: -5px;
        }
    }

    &[data-id="1"] {
        animation-delay: 0s;
    }

    &[data-id="2"] {
        animation-delay: 10s;
    }

    &[data-id="3"] {
        animation-delay: 20s;
    }
} */
.home #home-nav,
.about #about-nav,
.program #program-nav,
.toolbox #toolbox-nav,
.campaigns #campaigns-nav,
.contact #contact-nav {
  color: white;
  font-weight: bold;
}

.home #home-nav:hover,
.about #about-nav:hover,
.program #program-nav:hover,
.toolbox #toolbox-nav:hover,
.campaigns #campaigns-nav:hover,
.contact #contact-nav:hover {
  color: #4f9da6;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  padding: 1rem 2rem 0;
  height: 70px;
  width: 100%;
  white-space: nowrap;
  z-index: 10000;
  color: white;
  transition: 0.3s;
  background-color: #233142;
}

header #menu-icon, header #menu-icon + label {
  display: none;
  margin: 0;
}

header a {
  color: white;
}

header .logo {
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -0.5rem;
  height: 60px;
  overflow: hidden;
  /* &:hover {
            &::before {
                width: 250px; //240px; //250px
            }

            &::after {
                height: 0; //27px; //57px
            }
        } */
}

header .logo::before, header .logo::after {
  position: absolute;
  background: #f6d970;
  transform: translateY(-4px);
  z-index: -1;
  transition: 0.6s;
  content: '';
}

header .logo::before {
  width: 0;
  height: 58px;
}

header .logo::after {
  width: 250px;
  height: 0;
}

header .logo .logo-img {
  width: 70px;
  margin-top: -15px;
  margin-right: -5px;
}

header .logo .logo-text {
  border: 0;
  transition: 0.3s;
  padding: 10px 5px 5px;
  font-weight: bold;
  z-index: 5;
}

header .logo a:hover {
  color: white;
}

header ul {
  display: flex;
  list-style: none;
  min-height: 100%;
}

header ul li {
  margin: 0 25px;
  display: flex;
  align-items: center;
}

header ul li a::after {
  display: block;
  content: attr(title);
  font-weight: bold;
  height: 1px;
  color: transparent;
  overflow: hidden;
  visibility: hidden;
}

header ul li a:hover {
  color: #4f9da6;
}

header ul .dropdown {
  display: flex;
  align-items: center;
}

header .scrollspy-example {
  position: relative;
}

.dropdown-content {
  position: absolute;
  display: none;
  z-index: 10000;
  background-color: #233142;
  width: 100%;
  top: 50px;
  padding: 0;
}

.dropdown-content a {
  color: white;
  height: 100%;
  width: 100%;
}

.side {
  display: flex;
}

.side-content {
  position: absolute;
  display: none;
  z-index: -1;
  background-color: #f8f8f8;
  width: 150px;
  margin-top: 0;
  margin-left: 205px;
}

.side-content i {
  display: none;
}

.dropdown-content .sub, .side-content .sub {
  margin: 5px 10px;
  padding: 5px 0;
  text-decoration: none;
  display: block;
  text-align: left;
  font-weight: 400;
  text-transform: lowercase;
  white-space: initial;
}

.dropdown:hover .dropdown-content, .side:hover .side-content {
  display: block;
}

#logInModal .modal-dialog, #signUpModal .modal-dialog {
  max-width: 500px;
}

#logInModal .modal-title, #logInModal .redirect, #signUpModal .modal-title, #signUpModal .redirect {
  color: black;
  white-space: normal;
}

#logInModal .modal-content, #signUpModal .modal-content {
  border-radius: 0;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

#logInModal a, #signUpModal a {
  color: #4f9da6;
}

#logInModal a:hover, #signUpModal a:hover {
  color: #f6d970;
}

#logInModal input, #signUpModal input {
  border: 0;
  outline: none;
  background-color: #f8f8f8;
  border-radius: 0;
}

#logInModal .toggleLogSign, #logInModal .toggleSignLog, #signUpModal .toggleLogSign, #signUpModal .toggleSignLog {
  cursor: pointer;
}

.home section {
  min-height: 100vh;
  height: max-content;
  width: 100%;
  display: flex;
  align-items: center;
}

.home section:nth-of-type(even) {
  background-color: #f8f8f8;
}

.home .container .row {
  align-items: center;
}

.home .container .text-boxes {
  align-items: flex-start;
  margin-top: 10px;
  /* .popup {
                opacity: 1;
                transition: 0.4s;
            } */
}

.home .arrow {
  text-align: center;
  margin: 6% 0 2%;
}

.home .bounce {
  animation: bounce 2s infinite;
}

.home .button-home {
  padding: 10px;
  text-decoration: none;
  font-size: 16px;
  text-align: center;
  border-radius: 12px;
}

.home .section-img {
  width: 80%;
}

.home .section-img:nth-of-type(odd) {
  margin: 0 auto 4rem 0;
}

.home .section-img:nth-of-type(even) {
  margin: 0 0 4rem auto;
}

.home .section-desc {
  text-align: left;
  font-size: 110%;
  margin-bottom: 30px;
}

.home .section-desc-center {
  text-align: center;
  font-size: 110%;
  margin-bottom: 30px;
}

.fixed-nav .list-group-item {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.one {
  top: 120px;
  margin-left: 2rem;
  left: 5%;
  height: max-content;
}

.one::after {
  content: '';
  position: absolute;
  height: 550px;
  width: 1px;
  background-color: rgba(0, 0, 0, 0.3);
  right: -45px;
  top: 0;
  z-index: 100000;
}

.two {
  left: auto;
  right: 2%;
}

.toolbox .fixed-nav nav {
  width: 100%;
}

.toolbox .fixed-nav nav .nav-link {
  color: black;
  padding-top: 0;
  padding-bottom: 0;
}

.toolbox .fixed-nav nav .nav-link:hover {
  color: #4f9da6;
}

.toolbox .fixed-nav nav .nav-link.active {
  background-color: #4f9da6;
  color: white;
}

.toolbox .card {
  margin-top: 10px;
  display: flex;
}

.toolbox .col {
  margin-top: 20px;
}

.toolbox .lessons-boxes {
  margin-top: 3rem;
}

.toolbox .lessons {
  height: 900px;
  overflow-y: scroll;
}

.toolbox .grid {
  margin-top: 100px;
  margin-bottom: 100px;
}

.toolbox .list-group {
  height: 300px;
  overflow-y: scroll;
  z-index: 5;
}

.toolbox .right-col {
  padding-left: 4rem;
}

.toolbox .fixed-col {
  position: fixed;
  top: 100px;
}

.toolbox .col-2 {
  margin: 10px;
}

.toolbox .subj-img {
  display: block;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  max-width: 500px;
}

#lesson {
  min-height: 100vh;
}

#lesson h4 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  color: #4f9da6;
  margin-top: 3rem;
}

#lesson h4:target {
  padding-top: 70px;
  margin-top: calc(3rem + -70px);
}

#lesson img {
  display: block;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  max-width: 700px;
}

#lesson ul, #lesson ol {
  margin-left: 1rem;
}

#lesson ul li, #lesson ol li {
  font-family: 'Karla', sans-serif;
}

#lesson ol li {
  font-style: italic;
}

.sources .source {
  padding-left: 36px;
  text-indent: -36px;
}

footer {
  padding-bottom: 4rem;
  padding-top: 2rem;
  background-color: #233142;
  overflow-x: hidden;
}

footer .row {
  margin: 0;
}

footer .shift-y {
  margin-bottom: -30px;
}

footer .socialmedia-links {
  padding-top: 40px;
}

footer .social-icons {
  margin: 20px auto 40px;
  font-size: 24px;
  width: max-content;
}

footer .social-icons:hover i {
  opacity: 0.5;
}

footer .social-icons i {
  margin: 0 10px;
  color: white;
  transition: 0.2s;
}

footer .social-icons i:hover {
  transform: translateY(-20%);
  opacity: 1;
}

footer .copy {
  padding-bottom: 0px;
  z-index: 1;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  11.11% {
    opacity: 1;
  }
  33.33% {
    opacity: 1;
  }
  44.44% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideRight {
  0% {
    transform: translate(-200%, -30%) rotate(20deg);
  }
  100% {
    transform: translateX(150vh) rotate(30deg);
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(70%);
    opacity: 0;
  }
  70% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
