@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
.text-center {
  width: 100%;
  background-color: #233142;
  border: none;
  border-radius: 0;
}

.center {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.quotes-container {
  height: 400px;
  margin: 30px 0;
}

.quote-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.quote-row .quote {
  display: block;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  width: 350px;
  min-width: 200px;
  margin: 20px;
}

.quote-row .quote blockquote::before, .quote-row .quote blockquote::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  opacity: 0.25;
  font-size: 36px;
  color: #4f9da6;
}

.quote-row .quote blockquote::before {
  content: '\f10d';
  margin-top: -20px;
  margin-left: -30px;
}

.quote-row .quote blockquote::after {
  content: '\f10e';
  margin-top: -10px;
}

.quote-row[data-id="1"] {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.quote-row[data-id="2"] {
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

.quote-row[data-id="3"] {
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
}

* {
  font-family: 'Josefin Sans', sans-serif;
}

* a {
  text-decoration: none;
}

* a:hover {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  outline: none;
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
}

.home #home-nav,
.about #about-nav,
.program #program-nav,
.toolbox #toolbox-nav,
.campaigns #campaigns-nav,
.contact #contact-nav {
  color: white;
  font-weight: bold;
}

.home #home-nav:hover,
.about #about-nav:hover,
.program #program-nav:hover,
.toolbox #toolbox-nav:hover,
.campaigns #campaigns-nav:hover,
.contact #contact-nav:hover {
  color: #4f9da6;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 2rem 0;
  height: 70px;
  white-space: nowrap;
  z-index: 5;
  background-color: #233142;
}

header a {
  color: white;
}

header .logo {
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -0.5rem;
}

header .logo::before, header .logo::after {
  position: absolute;
  background: #f6d970;
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
  z-index: -1;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  content: '';
}

header .logo::before {
  width: 0;
  height: 57px;
}

header .logo::after {
  width: 250px;
  height: 0;
}

header .logo .logo-text {
  border: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: #233142;
  padding: 10px 5px 5px;
  font-weight: bold;
}

header .logo a:hover {
  color: white;
}

header .logo:hover::before {
  width: 0;
}

header .logo:hover::after {
  height: 0;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

header ul li {
  margin: 0 25px;
}

header ul li a::after {
  display: block;
  content: attr(title);
  font-weight: bold;
  height: 1px;
  color: transparent;
  overflow: hidden;
  visibility: hidden;
}

header ul li a:hover {
  color: #4f9da6;
}

header .scrollspy-example {
  position: relative;
}

#hometop h2 {
  padding: 75px 50px 20px;
  font-weight: bold;
  color: #233142;
}

#hometop .headerdes {
  padding: 0px 100px 20px;
}

#homemid {
  padding-bottom: 50px;
  background-color: #f8f8f8;
}

#homemid img {
  padding-right: 7%;
  height: 350px;
  -o-object-fit: contain;
     object-fit: contain;
}

#homemid .card-text {
  padding-left: 10%;
}

#homemid .card-title {
  padding-left: 10%;
}

.card-deck {
  margin: 0 1.5rem;
  padding: 50px 10px 20px;
}

.card-deck .card {
  background-color: #f8f8f8;
}

.card-deck .card img {
  padding: 2rem;
  height: 200px;
  -o-object-fit: contain;
     object-fit: contain;
}

.card-deck .card-title {
  font-weight: bold;
  color: black;
}

.card-deck .card-text {
  color: black;
}

.card-deck .card-body {
  padding: 1.5rem 1.5rem 2rem;
}

footer {
  padding-bottom: 4rem;
  padding-top: 2rem;
  margin-top: 4rem;
  background-color: #233142;
  overflow-x: hidden;
}

footer .row {
  margin: 0;
}

footer .shift-y {
  margin-bottom: -30px;
}

footer .socialmedia-links {
  padding-top: 40px;
}

footer .social-icons {
  margin: 20px auto 40px;
  font-size: 24px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

footer .social-icons i {
  margin: 0 10px;
  color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

footer .social-icons i:hover {
  -webkit-transform: translateY(-20%);
          transform: translateY(-20%);
  opacity: 1;
}

footer .social-icons:hover i {
  opacity: 0.5;
}

footer .copy {
  font-size: 0.5px;
  padding-bottom: 0px;
  z-index: 1;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  11.11% {
    opacity: 1;
  }
  33.33% {
    opacity: 1;
  }
  44.44% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  11.11% {
    opacity: 1;
  }
  33.33% {
    opacity: 1;
  }
  44.44% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
/*# sourceMappingURL=styles.css.map */